@import "../../styles/colors.scss";

.card {
  box-shadow: $project_card-shadow;
  color: $card-100;
  background-size: cover;
  max-width: 35rem;
  max-height: 25rem;
  min-width: 35rem;
  min-height: 25rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
  margin: 2rem;

  &__image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    & > img {
      height: inherit;
      width: inherit;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70%;
    color: white;
    padding: 1.5em;
    transform-origin: bottom;
    transition: transform 500ms ease;

    & > * {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__title {
    position: relative;
    width: max-content;
    font-size: 2rem;

    &::after {
      content: "";
      position: absolute;
      height: 3px;
      left: calc(5px * -3);
      bottom: 0;
      width: calc(100% + 15px);
      background: $card-400;
      // transform: scaleX(0);
      transform-origin: left;
      transition: transform 1000ms ease;
    }
  }

  &__btn {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: $card-400;
    padding: 0.5em 1.25em;
    width: max-content;
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__body {
    font-size: 1.2rem;
  }
}

@media (hover) {
  .card {
    &__content {
      transform: translateY(70%);
    }

    &__title::after {
      transform: scaleX(0);
    }

    &:hover &__content,
    &:focus-within &__content {
      background: linear-gradient(
        hsl(0 0% 0% / 0),
        rgba(0, 0, 0, 0.575) 20%,
        hsl(0 0% 0% / 1)
      );
      transform: translateY(0);
    }

    &:focus-within &__content {
      transition-duration: 0ms;
    }

    &__content > *:not(&__card-title) {
      opacity: 0;
      transition: opacity 500ms linear;
    }

    &:hover &__content *:not(&__card-title),
    &:focus-within &__content *:not(&__card-title) {
      opacity: 1;
      transition-delay: 300ms;
    }

    &:hover {
      transform: scale(1.05);
    }

    &:hover &__title::after {
      transform: scaleX(1);
    }
  }
}
