.project {
  padding: 2rem;
  margin-top: -7.5rem;
  // background-image: $background;

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 5px;
      font-size: 2rem;
    }
  }

  &__list {
    padding: 5rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
