@import "../styles/colors.scss";

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  color: black;
  z-index: 1;
  // background: #fbfbfb;
  &__shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: $main-background-color;
    z-index: 10;
  }
  &__logo {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 2rem;
  }

  &__links {
    width: 30%;
    margin: 0 2rem;

    &--list {
      font-weight: 550;
      margin: 0;
      padding: 10px;
      display: flex;
      height: 100%;
      align-items: center;
      list-style: none;
      justify-content: space-between;

      &-item {
        margin: 5px;
        font-size: 17px;
        &:last-child {
          display: none;
        }
      }
    }
  }
}

.nav-btn {
  &:hover {
    text-shadow: 5px 5px 10px rgb(146, 141, 141);
  }
  &:active {
    border-bottom: 2px solid rgb(146, 141, 141);
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    &__links {
      border: 1px solid red;
      width: 90%;

      &--list {
        display: flex;
        justify-content: flex-end;
        &-item {
          display: none;
          &:last-child {
            display: unset;
          }
        }
      }
    }
  }
}
