.experience {
  padding: 2rem;
  min-height: 40vh;
  display: flex;
  &__details {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      font-size: 3rem;
    }
  }

  &__list {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        &:not(:first-child) {
          margin-top: 1rem;
        }
      }
    }
  }
}
